body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #F9FAF8;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 20px 100px;
}

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .my-logo {
    width: 150px;
  }

.title-container {
  padding: 50px 200px;
  gap: 50px;
  display: flex;
  align-items: center;
  background-color: #1F2937;
}
  .title {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

  }

  .title-text {
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
  }

  .odin {
    height: 300px;
  }

.top-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

  .middle-logo-container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

    .bottom-logo-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

      .logo {
        width: 150px;
        height: 150px;
        padding: 10px;
        border-radius: 10px;
        border: 5px solid #3882F6;
      }

      .logo-text {
        font-family: 'Roboto', sans-serif;
      }

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #E5E7EB;
}

  .quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    margin: 0px;
    width: 500px;

  }

  .quote-author {
    align-self: center;
    width: 500px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0px;
  }

.github-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 50px 250px;
  background-color: #3882F6;
  border-radius: 10px;
}

  .github-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
  }
    .github-text {
      font-family: 'Roboto', sans-serif;
    }
    .github-logo-container {
      align-self: center;
    }

      .small-logo {
        width: 50px;
      }

.footer {
  text-align: center;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
}